# -------------------------
#  Python / Django 기본
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# -------------------------
#  가상환경 / 패키지
# -------------------------
.venv/
env/
venv/
*.egg-info/

# -------------------------
#  환경 / 설정 파일 (보안)
# -------------------------
.env
.env.*
*.pem
*.key
*.crt
*.conf
*.cfg

# -------------------------
#  프로젝트 아티팩트
# -------------------------
media/
staticfiles/
tmp/
logs/
celerybeat-schedule*
*.log

# -------------------------
#  버전 관리 / IDE
# -------------------------
.git/
.gitignore
.idea/
.vscode/
.DS_Store
__MACOSX/